In [25]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

In [57]:
start_date = datetime.datetime(2015, 11, 1)
end_date = datetime.datetime(2016, 3, 10)
df = data.DataReader(name="AAPL", data_source="yahoo", start=start_date , end=end_date)
df

                 High        Low       Open      Close       Volume  Adj Close
Date
2015-11-02  30.340000  29.902500  30.200001  30.295000  128813200.0  27.906120
2015-11-03  30.872499  30.174999  30.197500  30.642500  182076000.0  28.226217
2015-11-04  30.955000  30.405001  30.782499  30.500000  179544400.0  28.094954
2015-11-05  30.672501  30.045000  30.462500  30.230000  158210800.0  27.965439
2015-11-06  30.452499  30.155001  30.277500  30.264999  132169200.0  27.997818
...               ...        ...        ...        ...          ...        ...
2016-03-04  25.937500  25.342501  25.592501  25.752501  184220400.0  23.952627
2016-03-07  25.707500  25.240000  25.597500  25.467501  143315600.0  23.687551
2016-03-08  25.440001  25.100000  25.195000  25.257500  126247600.0  23.492224
2016-03-09  25.395000  25.067499  25.327499  25.280001  108806800.0  23.513155
2016-03-10  25.559999  25.037500  25.352501  25.292500  134054400.0  23.524775

[89 rows x 6 columns]

In [58]:
def inc_dec(c, o):
    if c > o:
        value = "Increase"
    elif c < o:
        value = "Decrease"
    else:
        value = "Equal"
    return value

df["Status"] = [inc_dec(c, o) for c, o in zip(df.Close, df.Open)]

df["Middle"] = (df.Open + df.Close)/2

df["Height"] = abs(df.Open-df.Close)

df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2015-11-02,30.340000,29.902500,30.200001,30.295000,128813200.0,27.906120,Increase,30.247500,0.094999
2015-11-03,30.872499,30.174999,30.197500,30.642500,182076000.0,28.226217,Increase,30.420000,0.445000
2015-11-04,30.955000,30.405001,30.782499,30.500000,179544400.0,28.094954,Decrease,30.641250,0.282499
2015-11-05,30.672501,30.045000,30.462500,30.230000,158210800.0,27.965439,Decrease,30.346250,0.232500
2015-11-06,30.452499,30.155001,30.277500,30.264999,132169200.0,27.997818,Decrease,30.271250,0.012501
...,...,...,...,...,...,...,...,...,...
2016-03-04,25.937500,25.342501,25.592501,25.752501,184220400.0,23.952627,Increase,25.672501,0.160000
2016-03-07,25.707500,25.240000,25.597500,25.467501,143315600.0,23.687551,Decrease,25.532500,0.129999
2016-03-08,25.440001,25.100000,25.195000,25.257500,126247600.0,23.492224,Increase,25.226250,0.062500
2016-03-09,25.395000,25.067499,25.327499,25.280001,108806800.0,23.513155,Decrease,25.303750,0.047499
2016-03-10,25.559999,25.037500,25.352501,25.292500,134054400.0,23.524775,Decrease,25.322500,0.060001

In [59]:
p = figure(x_axis_type='datetime', width=1000, height=300, sizing_mode="scale_width")

p.title.text = "Candlestick Chart"

p.grid.grid_line_alpha = 0.3

p.segment(df.index, df.High, df.index, df.Low, color="black")

hours_12 = 12 * 60 * 60 * 1000 # 12 hours in miliseconds

p.rect(df.index[df.Status=="Increase"], df.Middle[df.Status=="Increase"], hours_12, df.Height[df.Status=="Increase"], fill_color="#1E90FF", line_color="black")

p.rect(df.index[df.Status=="Decrease"], df.Middle[df.Status=="Decrease"], hours_12, df.Height[df.Status=="Decrease"], fill_color="#FF3333", line_color="black")

output_file("CS.html")
show(p)